<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<title>{{ name }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="generator" content="{{ generator }}">
</head>

<body>
<h1>{{ name }}</h1>

<div style="float: right">
<h2>Subscriptions</h2>
<ul>
{% for channel in Channels %}
<li><a href="{{ channel.link | e }}" title="{{ channel.title | e }}">{{ channel.name }}</a> <a href="{{ channel.uri | e }}">(feed)</a></li>
{% endfor %}
</ul>
</div>

{% for item in Items %}

{% if item.new_date %}
<h2>{{ item.new_date }}</h2>
{% endif %}

{% if item.new_channel %}
<h3><a href="{{ item.channel_link | e }}" title="{{ item.channel_title | e }}">{{ item.channel_name }}</a></h3>
{% endif %}

{% if item.title %}
<h4><a href="{{ item.link | e }}">{{ item.title }}</a></h4>
{% endif %}
<p>
{{ item.content }}
</p>
<p>
<em><a href="{{ item.link | e }}">{% if item.creator %}by {{ item.creator }} at {% endif %}{{ item.date }}</a></em>
</p>
{% endfor %}

<hr>
<p>
<a href="http://www.planetplanet.org/">Powered by Planet!</a><br>
<em>Last updated: {{ date }}</em>
</p>
</body>

</html>
