<?xml version="1.0"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
	<title>{{ name | e }}</title>
	<link>{{ link | e }}</link>
	<language>en</language>
	<description>{{ name }} - {{ link | e }}</description>

	{% for item in Items %}
	<item>
		<title>{{ item.channel_name | e }}{% if item.title %}: {{ item.title | e }}{% endif%}</title>
		<guid>{{ item.link | e }}</guid>
		<link>{{ item.link | e }}</link>
		{% if item.content %}
		<description>{{ item.content | e }}</description>
		{% endif %}
		<pubDate>{{ item.date_822 }}</pubDate>
		{% if item.creator %}
		<dc:creator>{{ item.creator | e }}</dc:creator>
		{% endif %}
	</item>
	{% endfor %}

</channel>
</rss>
