<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title><TMPL_VAR name></title>
  <link media="screen" href="/static/styles/screen-switcher-default.css"
     type="text/css" id="screen-switcher-stylesheet" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" media="sc&#82;een" href="/static/styles/netscape4.css" />
  <link rel="stylesheet" type="text/css" media="print" href="/static/styles/print.css" />
  <link rel="alternate stylesheet" type="text/css" media="screen" href="/static/styles/largestyles.css" title="large text" />
  <link media="screen" href="/static/styles/defaultfonts.css" type="text/css"
      rel="alternate stylesheet" title="default fonts" />
  <script src="/js/iotbs2-key-directors-load.js" type="text/javascript"></script>
  <script src="/js/iotbs2-directors.js" type="text/javascript"></script>
  <script src="/js/iotbs2-core.js" type="text/javascript"></script>
  <meta name="generator" content="<TMPL_VAR generator>" />
  <meta name="keywords"
     content="Python weblog blog blogs blogger weblogger aggregator rss" />
  <meta name="description" content="Recent postings from Python-related blogs." />
  <link rel="alternate" type="application/rss+xml" title="RSS"
     href="rss20.xml" />
</head>

<body>
  <!-- Logo -->
  <h1 id="logoheader">
    <a href="/" id="logolink" accesskey="1"><img id="logo"
src="/static/images/python-logo.gif" alt="homepage" border="0" /></a>
  </h1>
  <!-- Skip to Navigation -->
  <div class="skiptonav"><a href="#left-hand-navigation" accesskey="2"><img src="/static/images/trans.gif" id="skiptonav" alt="skip to navigation" border="0" /></a></div>
  <div class="skiptonav"><a href="#content-body" accesskey="3"><img src="/static/images/trans.gif" id="skiptocontent" alt="skip to content" border="0" /></a></div>

  <div id="content-body">
    <div id="body-main">

<h1 class="pageheading"><TMPL_VAR name></h1>

<p>Last update: <TMPL_VAR date>

<TMPL_LOOP Items>

### Visually distinguish articles from different days by checking for
### the new_date flag.  This demonstrates the <TMPL_IF varname> ... </TMPL_IF>
### check.

<TMPL_IF new_date>
<h2><TMPL_VAR new_date></h2>
</TMPL_IF>

### Group consecutive articles by the same author together by checking
### for the new_channel flag.

<TMPL_IF new_channel>
<hr /><h3 class="post"><a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_VAR channel_name></a></h3>
</TMPL_IF>


<TMPL_IF title>
<h4><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h4>
</TMPL_IF>
<p>
<em><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF creator>by <TMPL_VAR creator> at </TMPL_IF><TMPL_VAR date></a></em>
</p>
</TMPL_LOOP>

    </div>
  </div>

  <div id="left-hand-navigation">
    <div id="menu">
      <ul class="level-one">
          <li>
          <ul class="level-two">
             <li><a href="rss20.xml">RSS feed</a></li>
             <li><a href="index.html">Full Content</a></li>
             <li><a href="http://www.planetplanet.org/">Powered by Planet!</a></li>
	  </ul></li>
	  <li>Other Python Planets
            <ul class="level-two">
              <li><a href="http://terri.toybox.ca/python-soc/">Python Summer of Code</a></li>
              <li><a href="http://www.afpy.org/planet/">Planet Python Francophone</a></li>
              <li><a href="http://planeta.python.org.ar/">Planet Python Argentina</a></li>
              <li><a href="http://planetpython.matrix.jp/planet/">Planet Python Japan</a></li>
              <li><a href="http://wiki.python.org.br/planet/">Planet Python Brasil</a></li>
  	  </ul></li>
	  <li>Python Libraries
          <ul class="level-two">
            <li><a href="http://planet.laptop.org/">OLPC</a></li>
            <li><a href="http://planet.pysoy.org/">PySoy</a></li>
            <li><a href="http://planet.scipy.org/">SciPy</a></li>
            <li><a href="http://planet.sympy.org/">SymPy</a></li>
            <li><a href="http://planet.twistedmatrix.com/">Twisted</a></li>
	  </ul></li>
	  <li>Python/Web Planets
          <ul class="level-two">
            <li><a href="http://planet.cherrypy.org/">CherryPy</a></li>
            <li><a href="http://www.djangoproject.com/community/">Django Community</a></li>
            <li><a href="http://planet.plone.org/">Plone</a></li>
            <li><a href="http://planet.turbogears.org/">Turbogears</a></li>
	  </ul></li>
	  <li>Other Languages
          <ul class="level-two">
            <li><a href="http://planet.haskell.org/">Haskell</a></li>
            <li><a href="http://planet.lisp.org/">Lisp</a></li>
            <li><a href="http://planet.parrotcode.org/">Parrot</a></li>
            <li><a href="http://planet.perl.org/">Perl</a></li>
            <li><a href="http://planetruby.0x42.net/">Ruby</a></li>
	  </ul></li>
	  <li>Databases
          <ul class="level-two">
	    <li><a href="http://www.planetmysql.org/">MySQL</a></li>
	    <li><a href="http://planet.postgresql.org/">PostgreSQL</a></li>
	    <li><a href=""></a></li>
	  </ul></li>
	  <li>Subscriptions
          <ul class="level-two">
<li><a href="opml.xml">[OPML feed]</a></li>
<TMPL_LOOP Channels>
<li><a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title ESCAPE="HTML">"><TMPL_VAR name></a>
</li>
</TMPL_LOOP>
<li> <i>To request addition or removal:<br />
e-mail planet at python.org (note, responses can take up to a few days)</i></li>
          </ul></li>
      </ul>
    </div>
  </div>
</body>
</html>
